<html lang="en">
<%- include('header'); -%>
<%- include('container'); -%>
  <div class="jumbotron">
	<h1>Dashboard</h1>
	<p>Welcome here</p>
	<p>
	  <a href="/home/profile">View Profile</a>
	</p>
  </div>
<%- include('footer'); -%>